.jumbotron {
    padding: 50px!important;
    background: black!important;
    color: #fff!important;
}
.psychic-img {
    width:100%;
}
 
h4 {
    margin: 10px!important;
    padding-bottom: 10px!important;
    font: 20px!importatnt;
    font-weight: 500!important;
}
